h1,
h2,
h3 {
  margin: auto;
  color: #cc0000;
}
/* 
Rule{[Simple(h1),...], }
 */
div.note {
  margin-bottom: 20px;
  padding: 10px;
  color: rgba(99, 99, 99, 1);
}
#answer {
  display: none;
  margin-left: 10px;
}
